.ct2080 {
    .device {
        width: 400px;
        height: 280px;
        background-color: white;
        margin: 10px;
    }

    .ct-device {
        width: 820px;
        height: 280px;
        background-color: white;
        margin: 10px;
    }

    .test {
        height: 100px;
        overflow-y: scroll;
    }

}