.nis {
    .layout{
        .body{
            .side-menu {
            
                &.collapse{
                    width: 60px;
                    border-top-right-radius: 0px;
                    .content{
                        display: none;
                    }

                    .user-info {
                        transform: rotate(90deg);
                        transform-origin: left bottom;
                        margin-left: 15px;
                    }
                }

                .user-info{
                    height: 30px;
                    width: 270px;
                    background: url('../../../images/BackgroundImg/user_head.png') no-repeat;
                    line-height: 30px;
                    padding-left: 35px;
                    margin-left: 5px;
                    margin-top: 20px;
                    transition: 0.5s;
                }


                .expand-icon {
                    position: absolute;
                    display: block;
                    top: 20px;
                    right: 20px;
                    width: 20px;
                    height: 20px;
                    background: url('../../../images/BackgroundImg/tree_Arrow.png');
                    background-position: 0 0;

                    &.collapse {
                        background-position: 0 20px;
                    }

                }


                .expand-btn {
                    position: absolute;
                    top: calc(50% - 24px);
                    left: 100%;
                    width: 8px;
                    height: 48px;
                    background: url('../../../images/BackgroundImg/mini-left.png');
                    &.collapse {
                        background: url('../../../images/BackgroundImg/mini-right.png');
                    }

                }
            
                .content {
                    overflow-y: auto;
                    overflow-x: hidden; 
                    width: 100%;
                    height: 100%;
                    padding-left: 8px;
                }


            
            }
        }
    }
}