#icon-shezhi > path {
  fill: inherit;
}

.markdown-body pre code.language-javascript {
  max-height: 300px;
  display: block;
  overflow: auto;
}

.markdown-body {
  font-size: 14px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",  "Microsoft YaHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  border: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
}

.markdown-body h1 {
  font-size: 24px;
  padding: 35px 0 16px;
  margin:0 0 18px;
  border-bottom: 1px solid #ebebeb;
}

.markdown-body h2 {
  font-size: 20px;
  margin: 40px 0 15px;
  font-weight: 200;
}

.markdown-body h3 {
  font-size: 16px;
  margin-bottom: 18px;
  padding-top: 28px;
  position: relative;
}

.markdown-body h3::before{
  background: #262626;
  top: 35px;
}
.markdown-body blockquote {
  color: inherit;
  border: none;
}
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre{
  line-height: 1.8em;
  margin:0;
}
.markdown-body a {
  text-decoration: underline;
}
ul {
  list-style: none;
}
.markdown-body table {
  display: table;
  // table-layout: fixed;
}
.markdown-body table th {
}
// ==================添加标签==================

blue {
  color: #20a0ff;
}

line {
  display: block;
  position: relative;
  padding-left: 10px;
  margin: 5px 0;
}
line::before {
  content: '';
  width: 5px;
  height: 5px;
  left: 0;
  top: 8px;
  position: absolute;
  background: #20a0ff;
}

.fixtable + table {
  table-layout: fixed;
}