{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": 50
                }
            }
        ],
        "react",
        "stage-2"
    ]
}