.nis {
    .layout{
        .body{
            .side-menu {
                .content {
                    .navi-tree {

                       

                        li {
                            .link {
                                display: inline-block;
                                height: 30px;
                                font-size: 18px;
                                line-height: 30px;
                                padding-left: 40px;
                                &.active {
                                    color: blue;
                                }      
                            }

                            .wrapper {
                                display: block;
                                &:hover {
                                    background-color: rgb(217,217,217);
                                }

                                .node {
                                    display: inline-block;
                                    width: 18px;
                                    height: 20px;
                                }
                                
                                .node-expand {
                                    display: inline-block;
                                    width: 18px;
                                    height: 20px;
                                    background-image: url('../../../../images/BackgroundImg/arrows.png');
                                    background-repeat: no-repeat;
                                    background-position: -18px 0;
                                }

                                .node-collapse {
                                    display: inline-block;
                                    width: 18px;
                                    height: 20px;
                                    background-image: url('../../../../images/BackgroundImg/arrows.png');
                                    background-repeat: no-repeat;
                                    background-position: 0 0;
                                }

                                
                                
                                
                            }

                            

                        }

                        
                        
                        



                    }
                }
            }
        }
    }
}