.nis{
    .layout{
        .header{
            height: 60px;
            width: 100%;
            overflow: hidden;
            background-color: rgb(1, 127, 186);
            color: rgb(255, 255, 255);
            position: relative;
            text-align: center;
            font-size: 20px;
            line-height: 60px; 

            .about{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 280px;
                background: url('../../../images/BackgroundImg/NIS_topmain_west.png');
            }

            .title{
                height: 100%;
                
            }

            .toolbar{
                position: absolute;
                left: 70%;
                top: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;


                .btn {
                    height: 55px;
                    width: 55px;
                    margin-right: 12px;

                    img {
                        vertical-align: text-bottom;
                    }
                }


                .connect-status {
                    margin-right: 20px;
                }

                .warning-wrapper {
                    position: relative;
                    margin-right: 12px;

                    .warning-number {
                        position: absolute;
                        top: 0;
                        left: -10px;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        border-radius: 24px;
                        font-size: 14px;
                        background-color: rgb(255, 200, 0);
                        color: black;

                    }
                }



                .warning-icon{
                    width: 55px;
                    height: 55px;
                    display: block;
                    background: url('../../../images/ControlImg/btn_information_normal.png');
                    &:hover {
                        background: url('../../../images/ControlImg/btn_information_highlight.png');
                    }
                    &:active{
                        background: url('../../../images/ControlImg/btn_information_press.png');
                    }
                }

                .tip-on{
                    background: url('../../../images/BackgroundImg/NIS_main_tipbtnnormalon.png');
                    &:hover {
                        background: url('../../../images/BackgroundImg/NIS_main_tipbtnhighlighton.png');
                    }
                    &:active {
                        background: url('../../../images/BackgroundImg/NIS_main_tipbtnpresson.png');
                    }
                }

                .tip-off {
                    background: url('../../../images/BackgroundImg/NIS_main_tipbtnnormaloff.png');
                    &:hover {
                        background: url('../../../images/BackgroundImg/NIS_main_tipbtnhighlightoff.png');
                    }
                    &:active {
                        background: url('../../../images/BackgroundImg/NIS_main_tipbtnpressoff.png');
                    }
                }

                .logout{
                    background: url('../../../images/BackgroundImg/btnCancellation_cancel_normal.png');
                    &:hover {
                        background: url('../../../images/BackgroundImg/btnCancellation_cancel_highlight.png');
                    }
                    &:active {
                        background: url('../../../images/BackgroundImg/btnCancellation_cancel_press.png');
                    }
                }

                .shutdown{
                    background: url('../../../images/BackgroundImg/btn_Shutdown_normal.png');
                    &:hover {
                        background: url('../../../images/BackgroundImg/btn_Shutdown_highlight.png');
                    }
                    &:active {
                        background: url('../../../images/BackgroundImg/btn_Shutdown_press.png');
                    }
                }
            }

        }
    }
}