
body {
    padding: 0;
    margin: 0;
}


.ct2080 {
    width: 100%;
    height: 100%;
    background-color: #4D6F4D;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: hidden;


    .first-row {
        display: flex;
        justify-content: center;
    }

    .second-row {
        position: relative;
        width: 100%;

        .first-col {
            position: absolute;
            left: 0;
            top: 0;
            right: 50%;
            bottom: 0;
            width: 50%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        .second-col {
            position: absolute;
            left: 50%;
            right: 0;
            width: 50%;
            height: 100%;
        }
    }


    
}